body{
    background-color: oldlace;
}

.container{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 102, 0);
    padding: 4%;
}

.container img{
    max-width: 250px;
    padding: 4px;
}

